.content{
    width: 100%;
    height: calc(100% - 61px);
}
.content .content-header {
    height: 100px;
    border-left-width: 1px;
    border-left-color: #bbbbbb;
    border-left-style: solid;
}

.content .content-header .ch-left{
    width: 55%;
    height: 100px;
    align-items: center;
    padding-left: 10px;
    float: left;
}
.content .content-header .ch-right{
    height: 100px;
    width: 200px;
    float: right;
}
.content .content-header .ch-left .search{
    position: relative;
    width: 100%;
    display: flex;
}
.search input[type=text]{
   border: 1px solid #bbbbbb;
   border-radius: 4px;
   height: 40px;
   width: 30%;
   font-size: 10px;
   padding-left: 47px;
   margin-right: 15px;
}
.icon-search {
    position: absolute;
    top: 11px;
    left: 13px;
    width: 24px;
    height: 24px;
    background-image: url('../../content/icon/search.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.content .content-header .ch-right .add{
    width: 100%;
    position: relative;
}
.content .content-header .ch-right .add .icon-add {
    position: absolute;
    top: 24px;
    left: 40px;
    width: 20px;
    height: 20px;
    background-image: url('../../content/icon/add.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.content .content-header .ch-right .add #button-add {
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 35px;
    padding-left: 30px;
    padding-right: 15px;
    background-color: #01B075;
    margin-left: 32px;
    margin-top: 16px;
    color: lightcyan;
}
.content .content-header .ch-right .add #button-add:hover{
    cursor: pointer;
    background-color: #019160;
}

.content .content-header .ch-right .load{
    width: 100%;
    position: relative;
}
.content .content-header .ch-right .load #button-load {
    margin-top: 8px;
    margin-left: 130px;
    height: 30px;
    width: 40px;
    border: 1px solid #bbbbbb;
    padding: 12px;
    cursor: pointer;
    background-color: white;
}
.content .content-header .ch-right .load #button-load:hover{
    background-color: #E9EBEE;
}
.content .content-header .ch-right .load .icon-load {
    position: absolute;
    width: 0px;
    height: 10px;
    background-image: url(../../content/icon/refresh.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 5px;
    left: 127px;
    margin-left: 16px;
    margin-top: 10px;
    padding: 7px;
}