.menu{
    width: 100%;
}

.menu .menu__item {
    display: flex;
    
    width: 88%;
    align-items: center;
    background-color: lightcyan;
    padding: 10px;
}
.menu .menu__item:hover {
    cursor: pointer;
    background-color: #bebebe;
}
.menu .menu__item .menu__item--icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}
.menu .menu__item .icon-overview {
    background-image: url('../../content/icon/dashboard.png');
}
.menu .menu__item .icon-report{
    background-image: url('../../content/icon/report.png');
}
.menu .menu__item .icon-pay {
    background-image: url('../../content/icon/dashboard.png');
}
.menu .menu__item .icon-listcustomer {
    background-image: url('../../content/icon/dic-employee.png');
}
.menu .menu__item .icon-setting {
    background-image: url('../../content/icon/setting.png');
}


.menu .menu__item .menu__item--text{
    margin-left: 10px;
}
/*.dialog{

}
.dialog .model-opacity{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: black;
    opacity: .4;
}
.dialog .dialog-content{
    position: fixed;
    width: 200px;
    height: 300px;
    background-color: lightpink;
    top: calc(50%-50px);

}*/